{% extends 'base.html' %}


{% block title %}
    Home page
{% endblock%}


{% block content %}
    <div class="main-content">
        <h1>Welcome to ToDoList</h1>
        <br>
        <h4>
           Here you can create your own tasks list and stay organized like never before. Whether it's your daily to-do's,
           important reminders, or long-term goals, ToDoList is here to help you manage your tasks efficiently.
        </h4>
        <br>
        <h4>
            With ToDoList, you can easily add, edit, and delete tasks to keep track of everything that needs to get done.
            You can also mark tasks as completed and set their privacy status according to your preferences.
        </h4>
        <br>
        <h4>
            Get started now and take control of your productivity with ToDoList!
        </h4>
    </div>
{% endblock %}